* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    text-align: center;
}

#title {
    display: inline-block;
    font-size: 30px;
    margin: 20px 20px;
}

i {
    font-size: 25px;
    cursor: pointer;
}

#days {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    width: 60%;
}

.date {
    border: 0px solid black;
    border-bottom-width: 2px;
    border-right-width: 2px;
    padding: 20px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date:nth-child(4n+1){
    border-left-width: 2px;
}

.date:nth-child(1),
.date:nth-child(2),
.date:nth-child(3),
.date:nth-child(4) {
    border-top-width: 2px;
}

.red {
    color: red;
}